//- ****
//- Archivo: view_form_general.jade
//- Archivo Transpilado: panel/views/dist/view_form_general.php
//- Author: Sinesss
//- Tipo: Plantilla de vista PHP
//- Lenguaje: Pug
//- Descripción:  Este archivo es el template jade del formulario general para edicion y creacion
//- ****
//- 

include ../../../../work-panel/sources/jade/formMixins.jade

.modal-dialog(role="document")
    .modal-content: form(method="post",name="modalForm",class="modalForm")
        .modal-header
            h5.modal-title #{title}
            button.close(type='button', data-dismiss='modal', aria-label='Close'): span(aria-hidden='true') ×
        .modal-body
            .container
                if person
                    .alert.alert-primary(role="alert") 
                        div: h6 Persona 
                        div #{person}
                if settlement
                    .alert.alert-primary(role="alert") 
                        div: h6 Base 
                        div #{settlement}
                if alert
                    //- - alertclass=alert.class
                    div(role="alert",Class=" alert #{alert.class} ")
                        if alert.title
                            h6 #{alert.title} 
                        if alert.text
                            p #{alert.text}
                .row: +form('modalForm',fields)
            #modal_response
        .modal-footer
            button.btn.btn-primary#btn-submit(type='button') #{button}
            button.btn.btn-secondary(
                type='button', 
                data-dismiss='modal', 
                ) CERRAR

